@page "/ServerTest"
@using Core
@inject Core.PalDedicatedServer palServer
@rendermode InteractiveServer

<h3>ServerTest</h3>
<ServerControl/>
<ServerConfig/>



    @code {
    // private ServerConfig serverConfig;
    // private string DifficultyValue => Enum.GetName(typeof(ServerConfigDifficultyEnum), serverConfig.Difficulty);
  


    

}
