@page "/ServerTest"
@using Core
@inject Core.PalDedicatedServer palServer
@rendermode InteractiveServer

<h3>ServerTest</h3>
<li>@palServer.ServerState</li>
<button class="btn btn-primary" @onclick="startServer">Start</button>
@if (showServerConfig)
{
    <ServerConfig Server="palServer"/>
}




@code {
    private bool showServerConfig = true;
    // private ServerConfig serverConfig;
    // private string DifficultyValue => Enum.GetName(typeof(ServerConfigDifficultyEnum), serverConfig.Difficulty);
    private void startServer()
    {
        palServer.Start();
    }
    

    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);
        if (firstRender)
        {
            palServer.OnServerStatusChanged += (s, e) =>
            {
                InvokeAsync(StateHasChanged).Wait();
            };

        }
    }
    

    

}
